@import url('../../../assets/css/style.css');
@import url('./dataTables.bootstrap5.css');
@import url('./responsive.dataTables.css');

.nav-link.bg-body-secondary {
    font-weight: 600;
    color: #0A3943;
    margin-bottom: 2px;
    filter: brightness(1);
    transition: filter 0.2s ease-in-out 0s;
}
.nav-link.bg-body-secondary:hover {
    filter: brightness(0.9);
}

.nav-link.bg-body-secondary.active {
    color: #0A3943 !important;
    filter: brightness(0.9);
}

.page-link {
    color: #0A3943;
    filter: brightness(1);
    transition: filter 0.2s ease-in-out 0s;
}
.page-link:hover {
    color: #0A3943;
    filter: brightness(0.9);
}
.page-link.active {
    background-color: #0A3943;
    border: 1px solid #0A3943;
}
.page-link.active:hover {
    filter: brightness(1);
    color: white;
}
