@import url("./bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* IMAGES */
.bg-img-formaser {
  position: relative;
  min-height: 94.1vh;
  background-image: url(../pic/INSTITUTO-FORMASER-INICIAR-SESION.jpg);
  background-size: cover;
  z-index: 1;
}
.bg-img-formaser::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #85C12D, transparent);
  z-index: -1;
}

/** COLORS */
.bg-verde {
  background-color: #85c12d !important;
}
.text-verde {
  color: #85c12d !important;
}

.bg-azul {
  background-color: #0a3943 !important;
}
.bg-azul-2 {
  background-color: #136a7e !important;
}
.bg-azul-3 {
  background-color: #1887a0 !important;
}

.text-azul {
  color: #0a3943 !important;
}

/** NAVBAR */
.nav-link.active {
  color: #85c12d !important;
}
.nav-link.link-dark:hover {
  color: #85c12d !important;
}

/** BUTTONS */
.btn-outline-verde {
  background-color: #86c12d00;
  border: 2px solid #85c12d;
  color: #79af29;
}
.btn-outline-verde:hover {
  background-color: #86c12d;
  border: 2px solid #85c12d;
  color: #ffffff;
}
.btn-outline-verde.active {
  background-color: #86c12d;
  border: 2px solid #85c12d;
  color: #ffffff !important;
}

.btn-verde {
  background-color: #86c12d !important;
  border: 2px solid #85c12d !important;
  color: #ffffff !important;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out 0s;
}
.btn-verde:hover {
  filter: brightness(0.8);
}
.btn-verde.active {
  filter: brightness(0.8);
}

.btn-outline-azul {
  background-color: #0a394300;
  border: 2px solid #0a3943;
  color: #0a3943;
}
.btn-outline-azul:hover {
  background-color: #0a3943;
  border: 2px solid #0a3943;
  color: #ffffff;
}
.btn-outline-azul.active {
  background-color: #0a3943;
  border: 2px solid #0a3943;
  color: #ffffff !important;
}

.btn-azul {
  background-color: #0a3943 !important;
  border: 2px solid #0a3943 !important;
  color: #ffffff !important;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out 0s;
}
.btn-azul:hover {
  filter: brightness(0.8);
}
.btn-azul.active {
  filter: brightness(0.8);
}

.h-main {
  min-height: 90vh;
}

/** CURSORS */
.cursor-default {
  cursor: default;
}
